@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,111.3,200..1000;1,6..12,111.3,200..1000&display=swap');
@import "../../vars.css";
.fondo{
    background:linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('./img/rolloAzul.jpg');
    color: var(--naranja-secundario);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.fondo h1{
    font-size: 100px;
    font-family:"Alumni Sans", serif;
}

.fondo p{
    font-family: 'Arvo', serif; 
    text-align: justify;
    padding: 25px;
    color: white;
}

.fondo button{
    background-color: var(--naranja-secundario);
    border-style: none;
    padding: 10px;
    border-radius: 8px;
    border: solid, 2px, var(--naranja-secundario);
    color: white;
}