@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,111.3,200..1000;1,6..12,111.3,200..1000&display=swap');
.gal_section{
    display: flex;
    background-color: var(--gris-principal);
    margin: 0;
}
.img_info{
    background:linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('./img/rolloAzul.jpg');
    width: 40%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.img_info h2{
    color: var(--naranja-secundario);
    width: 70%;
    margin: 20px;
    font-family: 'Alumni Sans SC', sans-serif;
}

.img_info p{
    width: 70%;
    font-family: 'Arvo', serif;    
    text-align: justify;
}

.img_info button{
    width: 40%;
    margin: 20px;
    background-color: var(--naranja-secundario);
    border-style: none;
    height: 30px;
    border-radius: 8px;
}
.img_info button a{
    text-decoration: none;
    color: white;
    font-family: 'Alumni Sans SC', sans-serif;
}

.img_info button:hover{
    width: 40%;
    margin: 20px;
    background-color: rgba(250, 250, 250, 0);
    height: 30px;
    border-radius: 8px;
    color: white;
    font-family: 'Alumni Sans SC', sans-serif;
    border: solid, 2px, var(--naranja-secundario);
}

.galeria{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(3){
    grid-column-start: span 2;
}