@import "../../vars.css";
.etiSec{
    background-color: var(--gris-principal);
    padding: 30px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.card{
    margin: 15px;
    background-color: #181717;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.tafeta{
    background:linear-gradient(to right, rgb(0 0 0 / .5),rgba(0, 0, 0, 0.178)), url('./img/tafeta.png');
    width: 80%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.damasco{
    background:linear-gradient(to right, rgb(0 0 0 / .5),rgba(0, 0, 0, 0.178)), url('./img/damasco.png');
    width: 80%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.satin{
    background:linear-gradient(to right, rgb(0 0 0 / .5),rgba(0, 0, 0, 0.178)), url('./img/satin.png');
    width: 80%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.card p{
    margin: 20px;
    text-align: justify;
    font-family: 'Arvo', serif; 
}